.form-group + .form-group {
  margin-top: 1rem;
}

.form-control {
  width: 100%;
}

.login-box {
  display: block;
  position: relative;
  width: 360px;
}

.login-box-extended {
  display: block;
  position: relative;
  width: 480px;
}

.bg-draco {
  background: #2B2B2B;
}

.bg-draco-light {
  background: #585b5d;
  color: white;
}

.command-button {
  width: 100% !important;
}

.command-button .caption {
  width: 100% !important;
  text-align: center !important;
  margin-left: 0 !important;
}

a .command-button {
  color: white;
}